.img-round
  .imgs-container
    display: flex
    align-items: center
    .img-block
      margin: 125px 25px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &:nth-of-type(1)
        border: 5px solid #e4c053
        padding: 15px
      &:nth-of-type(2)
        border: 5px solid red
        padding: 15px
      .top-img
        height: 150px
        width: auto
      .img-wrapper
        margin: 25px auto
        display: flex
        flex-direction: column
        justify-content: center
        height: 250px
        width: 250px
        overflow: hidden
        img
          height: auto
          width: 100%
          cursor: pointer
      a
        width: 100%
        display: flex
        justify-content: center
      button
        margin-top: 25px
        width: 50%
      img

