.img-round
  .imgs-container
    display: flex
    align-items: center
    .img-block
      margin: 125px 25px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &:nth-of-type(1)
        border: 5px solid #e4c053
        padding: 15px


      button
        margin-top: 25px
        width: 50%
