@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .5s;
  box-sizing: border-box; }

.uppercase {
  text-transform: uppercase; }

.hidden {
  display: none !important; }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 989px) {
    .container {
      height: 95vh; } }

h1 {
  font-size: 56px; }
  @media screen and (max-width: 989px) {
    h1 {
      font-size: 24px; } }

img {
  width: 250px; }
  @media screen and (max-width: 989px) {
    img {
      width: 75px; } }

p {
  font-size: 22px;
  width: 35%;
  text-align: center; }
  @media screen and (max-width: 989px) {
    p {
      font-size: 16px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; } }

form {
  display: flex;
  justify-content: center;
  align-items: center; }
  form input {
    background-color: rgba(255, 255, 255, 0.4);
    width: 500px;
    height: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: 2px solid white;
    color: white;
    padding-left: 15px; }
    @media screen and (max-width: 989px) {
      form input {
        width: 75%; } }
  form button {
    width: 52px;
    height: 52px;
    margin-top: 0;
    border: none;
    opacity: 0; }
  form img {
    width: 52px;
    height: 52px;
    cursor: pointer;
    border: 2px solid white;
    margin-left: -52px; }

@media screen and (max-width: 989px) {
  .img-round h1 {
    margin-top: 100px; } }

.img-round .imgs-container {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 989px) {
    .img-round .imgs-container {
      display: block;
      height: 100%; } }
  .img-round .imgs-container .img-block {
    margin: 125px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 989px) {
      .img-round .imgs-container .img-block {
        height: 100%;
        margin: 25px auto; } }
    .img-round .imgs-container .img-block:nth-of-type(1) {
      border: 5px solid #e4c053;
      padding: 15px; }
    .img-round .imgs-container .img-block:nth-of-type(2) {
      border: 5px solid red;
      padding: 15px; }
    .img-round .imgs-container .img-block .top-img {
      height: 150px;
      width: auto; }
      @media screen and (max-width: 989px) {
        .img-round .imgs-container .img-block .top-img {
          height: 50px; } }
    .img-round .imgs-container .img-block .img-wrapper {
      margin: 25px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 250px;
      width: 250px;
      overflow: hidden; }
      @media screen and (max-width: 989px) {
        .img-round .imgs-container .img-block .img-wrapper {
          height: 200px;
          width: 100%;
          overflow: hidden; } }
      .img-round .imgs-container .img-block .img-wrapper img {
        height: auto;
        width: 100%;
        cursor: pointer; }
    .img-round .imgs-container .img-block a {
      width: 100%;
      display: flex;
      justify-content: center; }
    .img-round .imgs-container .img-block button {
      margin-top: 25px;
      width: 50%; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white; }
  @media screen and (max-width: 989px) {
    body {
      text-align: center; } }

button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 250px;
  margin-top: 25px;
  cursor: pointer; }
  button:hover {
    background-color: white;
    color: black; }
  @media screen and (max-width: 990px) and (min-width: 550px) {
    button {
      top: 0;
      left: 0; } }
