@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
.uppercase {
  text-transform: uppercase; }

a {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif; }
